:root {
  --cells-wide: 13;
  --cells-high: 13;
  --header-height: 2.25rem;
  --footer-height: 1.5rem;
  --main-padding: 0.75rem;
  --board-size: calc(100vw - var(--main-padding) * 2.5);
  --body-bg-color: rgb(200, 200, 200);
  --header-color: #2d3038;
  --blank-color: #111;
  --cell-color: white;
  --button-color: rgb(58, 66, 109);
  --button-on-color: #0a0;
  --text-color: #eee;
  --main-font: 'Catamaran';
  --cell-width: calc(var(--board-size) / var(--cells-wide));
  --cell-height: calc(var(--board-size) / var(--cells-wide));
  --cell-letter-size: 1.2rem;
  --cell-number-size: 0.4rem;
}
html {
  font-size: calc(1rem + 1vmin);
  font-family: var(--main-font);
}
* {
  user-select: none;
  box-sizing: border-box;
}
a {  
  text-decoration: none;
}
a:link, a:visited {
  color: var(--text-color);
}
body {  
  position: fixed;
  max-width: 100vw;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

@media (orientation: landscape) {
  :root {
    --header-height: calc(1.5rem + 2vh);
    --board-size: calc(((var(--view-height) - var(--header-height)) - 5rem) + ((100vw - var(--view-height)) / 6));
    --cell-letter-size: 1.5rem;
    --cell-number-size: 0.5rem;
  }
}